<div class="form-group row">  
 <label class="col-sm-2 col-form-label">Presupuesto:</label>  
 <div class="col-sm-4">  
  {{ form.epresupuesto }}  
 </div>  
</div> 

<div class="form-group row">  
 <label class="col-sm-2 col-form-label">Tipo:</label>  
 <div class="col-sm-4">  
  {{ form.etipo }}  
 </div>  
</div> 
 

<div class="form-group row">  
 <label class="col-sm-2 col-form-label">Descripción:</label>  
 <div class="col-sm-4">  
  {{ form.edescripcion }}  
 </div>  
</div>  


<div class="form-group row">  
 <label class="col-sm-1 col-form-label"></label>  
 <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary">Guardar</button>  
 </div>  
  
 <div class="col-sm-4">  
  <a  class="btn btn-danger" href="/app/placas_list">Cancelar</a>  
 </div> 
</div>   

