<ul id="menu">

		
		<li><input type="checkbox" name="list" id="nivel1-1"><label for="nivel1-1">Generales</label>
			<ul class="interior">
				<li><a href="/app">Inicio</a></li>
				<li><a href="/app/employees_list">Autores</a></li>
				<li><a href="/app/presupuesto_list">Presupuestos</a></li>
			</ul>
		</li>
		
		<li><input type="checkbox" name="list" id="nivel1-2"><label for="nivel1-2">Procesos</label>
			<ul class="interior">
				<li><a href="/app/placas_list">Placas</a></li>

			</ul>
		</li>
		
		<li><input type="checkbox" name="list" id="nivel1-3"><label for="nivel1-3">Analitica</label>
			<ul class="interior">
				<li><a href="#r">Nivel 2</a></li>
			
			</ul>
		</li>

</ul>	