{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="{%static 'Bootstrap-4-4.6.0/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{%static 'DataTables/DataTables-1.11.3/css/jquery.dataTables.min.css' %}"/>  
  <link rel="stylesheet" type="text/css" href="{%static 'fontawesome-free-5.15.4-web/css/fontawesome.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{%static 'fontawesome-free-5.15.4-web/css/solid.min.css' %}"/> 
  <link rel="stylesheet" type="text/css" href="{%static 'Bootstrap-treeview/css/bootstrap-treeview.css' %}"/> 

  <script src="{% static 'jquery-3.6.0/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'Bootstrap-4-4.6.0/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'Bootstrap-treeview/js/bootstrap-treeview.js' %}" type="text/javascript"></script>

</head>
 
<body>
  <div id="sidebar">
    <center><h2>CRUD3</h2></center>
	
	{% include "app/sidebar2.html" %}
	
  </div>
  
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>