{% load static %}
<!DOCTYPE html>
<html>

 <head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/app.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
 
 <body>
  <div id="sidebar">
    <center><h2>CRUD3</h2></center>
	
	{% include "app/sidebar.html" %}
	
	
  </div>
  
  <div id="content">
    {% block content %}
    {% endblock %}

  </div>
  


</body>
</html>